/* .addUserBody {
  background-color: #a0bed9a2;
  width: 100vmax;
  height: 100vh;
} */

.addUser {
  margin: 2rem;
}
.tittle-add-user {
  color: black;
  margin: 4%;
}

.editUser {
  margin: 1.5rem;
}
.modal-title {
  color: black;
}
