h1 {
  text-align: center;
  padding: 0%;
  color: gray;
  background-color: black;
}

.form-select {
  font-size: small;
  /* background-color: lightgray; */
}

button {
  align-items: center;
}

.bg-success {
  text-align: center;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

body {
  /* heigh:665px; */
  background-image: url("https://images.pexels.com/photos/7464685/pexels-photo-7464685.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  /* background-size: 10rem; */
}
