/* 

.bg-success {
  text-align: center;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}
 */

/* .body_register {
  position: absolute;
  top: 50%;
  right: 50%;
} */
