.contenedor-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.contenedor-principal{
    background-position: center center;

}

.contenedor{
    background-color: rgba(183, 192, 221, 0.329);
    width: 75%;
    
}
.label{
    margin: 50px 20px 10px 20px;
    font-size: 20px;
    color: rgb(55, 109, 224);
}
.input-usuario{
    height: 40px;
    width: 290px;
    font-size: 15px;
    border-radius: 6px;
    margin: 10px 20px 10px 20px;
}

.input-contraseña{
    height: 40px;
    width: 290px;
    font-size: 15px;
    border-radius: 6px;
    margin: 10px 20px 50px 20px;
}

.ingresar{
    height: 60px;
    width: 190px;
    margin: 20px 20px 50px 20px;
    font-size: 20px;
    border-radius: 8px;
    color: rgba(55, 109, 224, 0.712)
}