nav {
  height: 7rem;
}

.nav-tabs {
  border-bottom: 3px, solid #13acf8;
  padding-bottom: 20px;
}

#mid {
  padding-top: 3.5rem;
}
.container-fluid > a:nth-child(1) > img:nth-child(1) {
  height: 45px;
}
.navbar-brand {
  padding: 0;
}
