nav {
  padding-bottom: 3rem;
  height: 7rem;
  align-items: center;
}
#mid {
  padding-top: 3.5rem;
}
.container-fluid > a:nth-child(1) > img:nth-child(1) {
  height: 45px;
}
.navbar-brand {
  padding: 0;
}
